$bg: #282a36;
$text: #44475a;
$link: #8be9fd;

html {
  background-color: $bg;
  color: $text;
}

nav {
  text-align: left;
  vertical-align: top;
  border: 50% solid black;
}
main {
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
a {
  color: $link;
}
