$bg: #282a36;
$text: #44475a;
$border: #6272a4;
html {
  background-color: $bg;
  color: $text;
}

header {
  text-align: left;
  vertical-align: top;
  border-color: $border;
  border-radius: 50%;
}
